*.iml
.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
out/

### MacOS ###
.DS_Store

### Output Directory ###
src/test/java/ru/hse/userflowdiagram/output/

### HTML Resources Directory ###
html_examples/
